CH_data.tar.gz filter=lfs diff=lfs merge=lfs -text
Combined_data.tar.gz.splitaa filter=lfs diff=lfs merge=lfs -text
Combined_data.tar.gz.splitab filter=lfs diff=lfs merge=lfs -text
Combined_data.tar.gz.splitac filter=lfs diff=lfs merge=lfs -text
H_data.tar.gz filter=lfs diff=lfs merge=lfs -text
